:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #121212;
}

html,
body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 2s ease, color 2s ease;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  flex-shrink: 0;
  color: var(--text-color);
}

.zoom-text {
  display: inline-block; /* Needed for transform to work properly */
  transition: transform 0.1s ease;
  text-decoration: underline;
}

.zoom-text-no-underline {
  display: inline-block; /* Needed for transform to work properly */
  transition: transform 0.1s ease;
}

.zoom-text:hover,
.zoom-text-no-underline:hover {
  transform: scale(1.05);
}

.arrow-icon {
  width: 25px;
  height: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.arrow-icon:hover {
  transform: scale(1.1);
}

.arrow-link {
  display: inline-block;
}

b {
  display: inline-block; /* Needed for transform to work properly */
  transition: transform 0.1s ease;
  text-decoration: underline;
}

b:hover {
  transform: scale(1.05);
}
